<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Document</title>
</head>
<body>
    <section id="content">
		<article>
			<header>
  				<legend>Inscription </legend>
			</header> <br><br><br><br>
	        <form name="myForm" action="" method="post">
				
				<label for="nom">Nom :</label>
				<input type="text" name="Nom" id="nom" maxlength="30" />
				<br/>
				<label for="prenom">Prénom :</label>
				<input type="text" name="Prenom" id="prenom" maxlength="30" />
				<br/>
				<label for="commune">Commune :</label>
				<input type="text" name="Commune" id="commune" maxlength="30" />
				<br/>
				<label for="parti">Parti politique :</label>
				<input type="text" name="Mobile" id="pati" maxlength="10" />
				<br/>
				<label for="email">Email :</label>
				<input type="email" name="Email" id="email" placeholder="xyz@xyz.xyz" maxlength="30" />
				<br/>
				<label for="mdp">Mot de passe :</label>
				<input type="password" name="Mdp" id="mdp" placeholder="**********" maxlength="20" />
				<br/>
				<label for="fichier">Image :</label>
				<input type="file" name="Avatar" id="avatar" />
				<br/>
				<label for="mdp_lose">Mot de passe oublié :</label>
				<input type="checkbox" name="Mdp_lose" id="mdp_lose" value="mdpLose"/>
				<br/>
				<div id="esp_submit_reset">
				<input type="submit" name="registration" value="S'inscrire" />
	        	</div>
	        </form>
	        <footer>
	        </footer>
	    </article>
	</section>
</body>
</html>